name: On PR

on: [pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        flutter-version: [ '3.24.3', '3.27.4', '3.29.3', '3.32.7' ]
    steps:
      - uses: actions/checkout@v3

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ matrix.flutter-version }}
          channel: 'stable'
          cache: true

      - name: Install Dependencies
        run: flutter packages get

      - name: Disable animations
        run: flutter config --no-cli-animations
      
      - name: Analyze
        run: flutter analyze

      - name: Run tests
        run: |
          flutter test --no-pub --coverage --test-randomize-ordering-seed=random
      
      - name: Run warmup test set
        run: |
          flutter test --no-pub --dart-define=DK_ENABLE_ATTRIBUTE_WARM_UP=true test/warmup_test.dart