name: On PR

on: [pull_request]

jobs:
  test:
    runs-on: [self-hosted, cloud]
    strategy:
      fail-fast: false
      matrix:
        flutter-version: ["3.24.3", "3.27.4", "3.29.3", "3.32.7"]
    steps:
      - uses: actions/checkout@v3

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ matrix.flutter-version }}
          channel: "stable"
          cache: true

      - name: Disable animations
        run: flutter config --no-cli-animations
  
      - name: Load packages
        run: flutter pub get
  
      - name: Analyze
        run: flutter analyze

      - name: Run tests
        run: |
          flutter test --no-pub --coverage --test-randomize-ordering-seed=random

      - name: Run warmup test set
        run: |
          flutter test --no-pub --dart-define=duit:enable-warm-up=true test/warmup_test.dart
